<div id="ligacao-pesq" class="row" ng-show="state == 'app.ligacao'">
	<div class="col-md-12" style="margin: 20px 0">		
		<div style="border: 2px solid #ddd;margin-bottom: -6px;background: #f9f9f9;padding: 15px 0 0;">
			<div class="col-md-4">
				<div class="input-group date">
					<input date-range-picker 
						class="form-control date-picker" 
						type="text" 
						ng-model="range"
						options="options"
						style="vertical-align: middle"/>
					<a href="#" class="input-group-addon" style="padding-left: 12px;" ng-click="openDatepicker($event)"><i class="fa fa-calendar"></i></a>
				</div>
			</div>
			<div class="col-md-8">
				<div class="form-group">
					<input type="text" ng-model="search" class="form-control" placeholder="Pesquise por qualquer campo">
				</div>
			</div>
			<br clear="both">
		</div>
		
		<minimal-grid columns="fields" on-click-row="showDetails(row)" rows="rows" pagination-max="30"></minimal-grid>
	</div>
</div>

<div ui-view="details"></div>            