<div id="ligacao-pesq" class="row" ng-show="state == 'app.ligacao'">
	<div class="col-md-12" style="margin: 20px 0">		
		<div style="border: 1px solid #ddd; border-bottom: 0; margin-bottom: -6px; background: #f9f9f9; padding: 15px 0 0;">
			<div class="col-md-3">
				<div class="input-group date">
					<input date-range-picker 
						class="form-control date-picker" 
						type="text" 
						ng-model="range"
						options="options"
						style="vertical-align: middle"/>
					<a href="#" class="input-group-addon" style="padding-left: 12px;" ng-click="openDatepicker($event)"><i class="fa fa-calendar"></i></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<input type="text" ng-model="search" class="form-control" placeholder="Pesquise por qualquer campo">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group pull-left">
					<div class="btn-group btn-group-sm">
						<label class="btn btn-default" ng-model="status" uib-btn-radio="''" ng-click="setStatus('')" ng-class="{ 'btn-info' : statusBtn.todas }">Todas</label>
						<label class="btn btn-default" ng-model="status" uib-btn-radio="'AT'" ng-click="setStatus('AT')" ng-class="{ 'btn-info' : statusBtn.at }">Atendida</label>
						<label class="btn btn-default" ng-model="status" uib-btn-radio="'NA'" ng-click="setStatus('NA')" ng-class="{ 'btn-info' : statusBtn.na }">Não Atendida</label>
						<label class="btn btn-default" ng-model="status" uib-btn-radio="'OT'" ng-click="setStatus('OT')" ng-class="{ 'btn-info' : statusBtn.ot }">Outros</label>
					</div>
				</div>
				<div class="form-group pull-left lastFormGroup">
					<div class="btn-group btn-group-sm">
						<label class="btn btn-default" ng-model="sentido" uib-btn-radio="''" ng-click="setSentido('')" ng-class="{ 'btn-info' : statusBtnSentido.todas }">Todas</label>
						<label class="btn btn-default" ng-model="sentido" uib-btn-radio="''" ng-click="setSentido('interno')" ng-class="{ 'btn-info' : statusBtnSentido.interno }">Interno</label>
						<label class="btn btn-default" ng-model="sentido" uib-btn-radio="''" ng-click="setSentido('entrante')" ng-class="{ 'btn-info' : statusBtnSentido.entrante }">Entrante</label>
						<label class="btn btn-default" ng-model="sentido" uib-btn-radio="''" ng-click="setSentido('sainte')" ng-class="{ 'btn-info' : statusBtnSentido.sainte }">Sainte</label>
						<label class="btn btn-default" ng-model="sentido" uib-btn-radio="''" ng-click="setSentido('forward')" ng-class="{ 'btn-info' : statusBtnSentido.forward }">Forward</label>
					</div>
				</div>
			</div>
			<br clear="both">
		</div>
		
		<minimal-grid columns="fields" on-click-row="showDetails(row)" rows="rows" pagination-max="30"></minimal-grid>
	</div>
</div>

<div ui-view="details"></div>            