<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo-white-text-bg.svg" height="25">
            </a>            
        </div>
        <p style="margin-right:0px" class="navbar-text navbar-right"><a href="#" class="navbar-link" ng-click="logout()" data-toggle="tooltip" title="Logout" data-placement="bottom" >{{ payload.nome }} <i class="fa fa-lock"></i></a></p>
    </div>
</nav>

<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip()
});
</script>